@model RaceAnalysis.Models.HypotheticalsViewModel

<div>
    @{
        string finish_range = " Your finish time would be in the range:  ";
        switch (@Model.SelectedSkillLevel)
        {
            case "1":
                finish_range +=
                    new TimeSpan(Model.Stats[0].Finish.FastestHalf.Item1.Min(t => t.Finish.Ticks)) + " - " +
                    new TimeSpan(Model.Stats[0].Finish.FastestHalf.Item1.Max(t => t.Finish.Ticks));
                break;
            case "2":
                finish_range +=
              new TimeSpan(Model.Stats[0].Finish.FastestHalf.Item2.Min(t => t.Finish.Ticks)) + " - " +
              new TimeSpan(Model.Stats[0].Finish.FastestHalf.Item2.Max(t => t.Finish.Ticks));
                break;
            case "3":
                finish_range +=
               new TimeSpan(Model.Stats[0].Finish.SlowestHalf.Item1.Min(t => t.Finish.Ticks)) + " - " +
               new TimeSpan(Model.Stats[0].Finish.SlowestHalf.Item1.Max(t => t.Finish.Ticks));
                break;
            case "4":
            default:
                finish_range +=
              new TimeSpan(Model.Stats[0].Finish.SlowestHalf.Item2.Min(t => t.Finish.Ticks)) + " - " +
              new TimeSpan(Model.Stats[0].Finish.SlowestHalf.Item2.Max(t => t.Finish.Ticks));
                break;
        }
        finish_range += ".";

        string finish_explanation = "The box plot below displays the range of finishers for your age group. "
           + "The colored box in the middle represents 50% of finishers."
           + "The middle line represents the median time for this group of finishers. "
           + "Left of the line represents faster than median and right of the line is slower than median. "
           + "The highlighted area represents an estimated range based on your skill level.";



    }

    <div id="finish-range">
        @finish_range
        @finish_explanation
    </div>

    <div id='box-estfinish' >
           
    </div>
         

    <script>
        axis_template = {
            nticks: 20,
        };
       
        var finish = {
            x: @Html.Raw(Json.Encode(Model.Stats[0].Finish.Data)),
            
            type: 'box',
            name: 'Finish',
            marker:{
                color: 'rgb(196,173,216)'
            },
          
        };
        var finish_layout = {
            axis : axis_template,
            //title: 'Finish',
            annotations: [
             {
                 text: 'Fastest',
                 x: 2,
                 xref: '3',
                 y: 0 ,
                 yref: 'paper'

             }
            ]
        };
        Plotly.newPlot('box-estfinish', [finish], finish_layout,{showLink: false, displaylogo: false});
                  
        $(function(){
            var containerWidth = parseInt( $('.gridlayer').css("width"));
            var overlayWidth = containerWidth/4; 
                //parseInt( $('#overlay-marker-estfinish').css("width"));
           // var overlayCenter = parseInt(overlayWidth)/2;
            var fudge = 0; //a guess right now from where the axis starts
            var fudge2 = 0;
            $('g.draglayer').append("<div z-index:5, id='overlay-marker-estfinish'>--- Your Est. Finish Time ---</div>");
            var left =  $('g.cartesianlayer').position().left;
            var top =  $('g.cartesianlayer').position().top;

            //var y = $('g.subplot.xy').position().top;
            //var x = $('g.subplot.xy').position().left;

            left = 50;
            top = 50;

            debugger;
            switch(@Model.SelectedSkillLevel)
            {
                case 1:
                    left=left;
                    break;
                case 2:
                    left= left+ overlayWidth;
                    break;
                case 3:
                    left = left+ overlayWidth*2;
                    break;
                case 4:
                    left= containerWidth - overlayWidth;
                    break;
                default: 
                    left= containerWidth - overlayWidth;
                    break;
            }
           

            $('#overlay-marker-estfinish').css('left', left + "px");
            $('#overlay-marker-estfinish').css('top', top + "px");

            $('#overlay-marker-estfinish').css('width', overlayWidth + "px");


            $( window ).on("resize", function() {
                 $('#overlay-marker-estfinish').css('left', left + "px");

                
            });

        });
    </script>
</div>

