@model RaceAnalysis.Models.HypotheticalsViewModel

<div>
    @{
        string Run_range = " Your run split would be in the range:  ";
        switch (@Model.SelectedSkillLevel)
        {
            case "1":
                Run_range +=
                    new TimeSpan(Model.Stats[0].Run.FastestHalf.Item1.Min(t => t.Run.Ticks)) + " - " +
                    new TimeSpan(Model.Stats[0].Run.FastestHalf.Item1.Max(t => t.Run.Ticks));
                break;
            case "2":
                Run_range +=
              new TimeSpan(Model.Stats[0].Run.FastestHalf.Item2.Min(t => t.Run.Ticks)) + " - " +
              new TimeSpan(Model.Stats[0].Run.FastestHalf.Item2.Max(t => t.Run.Ticks));
                break;
            case "3":
                Run_range +=
               new TimeSpan(Model.Stats[0].Run.SlowestHalf.Item1.Min(t => t.Run.Ticks)) + " - " +
               new TimeSpan(Model.Stats[0].Run.SlowestHalf.Item1.Max(t => t.Run.Ticks));
                break;
            case "4":
            default:
                Run_range +=
              new TimeSpan(Model.Stats[0].Run.SlowestHalf.Item2.Min(t => t.Run.Ticks)) + " - " +
              new TimeSpan(Model.Stats[0].Run.SlowestHalf.Item2.Max(t => t.Run.Ticks));
                break;
        }
        Run_range += ".";

        string Run_explanation = "The box plot below displays the range of runners for your age group. "
           + "The colored box in the middle represents 50% of runners. "
           + "The vertical line in the middle of the box represents the median time for this group of runners. "
           + "Left of the line represents faster than median and right of the line is slower than median. "
           + "The highlighted area represents an estimated range based on your skill level.";



    }

    <div id="Run-range">
        @Run_range
        @Run_explanation
    </div>

    <div id='box-estRun' >
           <div id="overlay-marker-estRun">--- Your Est. Run Time ---</div>
    </div>
         

    <script>
        axis_template = {
            nticks: 20,
        };

        var Run = {
            x: @Html.Raw(Json.Encode(Model.Stats[0].Run.Data)),
            type: 'box',
            name: 'Run',
            marker:{
                color: 'rgb(92,184,92)'
            },

        };
        var Run_layout = {
            xaxis : axis_template,

        };
        Plotly.newPlot('box-estRun', [Run], Run_layout,{showLink: false, displaylogo: false});



        $(function(){
            var containerWidth = parseInt( $('#box-estRun').css("width"));
            var overlayWidth =   containerWidth/4 + 21;
           // var overlayCenter = parseInt(overlayWidth)/2;
            var fudge = 120; // 125; //a guess right now from where the axis starts

            var qtr;
            switch(@Model.SelectedSkillLevel)
            {
                case 1:
                    qtr= 0 + fudge;
                    break;
                case 2:
                    qtr=  containerWidth/3;
                    break;
                case 3:
                    qtr= containerWidth/2 + 21;
                    break;
                case 4:
                    qtr= containerWidth - (overlayWidth +21);
                    break;
                default:
                    qtr= containerWidth - (overlayWidth +21);
                    break;
            }

            $('#overlay-marker-estRun').css('left', qtr + "px");

            $( window ).on("resize", function() {
                 $('#overlay-marker-estRun').css('left', qtr + "px");


            });
        });
    </script>
</div>

