@model IEnumerable<RaceAnalysis.Models.Race>
@using RaceAnalysis.Models;
@{
    var queryViewModel = new SimpleFilterViewModel
    {
        //Races = "",
        AgeGroups = "0", //this will allow us to pass these as params and possibly use them in the future
        Genders = "0",
       
    };
}
<script src="~/Scripts/jquery.rowselector.min.js"></script>
<div class="race-list">
    <h2>Search Results</h2>

@if (Model.Any())
{
    <div class="search-results-preface">

        <span id="instructions">Click on one or more rows to select races, then click the button to view details.</span>

        @Html.ActionLink("Display Details", "Display", "TriStats",
                 queryViewModel, new { @id = "action-compare", @class = "btn btn-default", title = "Display detailed stats" })
    </div>
    <div>

        @Html.Partial("~/Views/Shared/_OnePageOfRaces.cshtml", Model)
    </div>
}
else
{
    <div class="normal">Sorry, no results were found.</div>
}

</div>
    <script type="text/javascript">

        $('#config-form').on('submit', function (evt) {
            evt.preventDefault();
        });

        $('#action-compare').on('click', actionSelected);
        $('#action-compare').attr("disabled", true); //disable until user selects rows

        function actionSelected(evt) {
            if ($('#action-compare').attr('disabled') == 'disabled') {
                return false;
            }

            var selected = [];
            $('#race-table').selectedrows().each(function (idx, el) {
                if (el.id.length > 0) {
                    selected.push(el.id);
                }
            });
            if (selected.length > 0) {

                this.href += "&Races=" + selected.join(', ');
            }
            else {
                return false;
            }

        }


        //$('#action-compare').on('click', actionSelected);

        $('#select-type').on('change', function (evt) {
            $('#race-table').attr('data-rs-type', $(this).val());
            //alert("onchange-rs-type");
        });


        $('#select-class').on('change', function (evt) {
            $('#race-table').attr('data-rs-class', $(this).val());

            //alert("onchange rs-class");
        });


        $('#race-table').on('clicked.rs.row', function (evt) {

            var numrows = $(this).selectedrows().length;
            if (numrows > 0) {
                $('#action-compare').attr("disabled", false);
            }
            else {
                $('#action-compare').attr("disabled", true);

            }

        });


    </script>
