@model IEnumerable<RaceAnalysis.Models.Race>

@{
    ViewBag.Title = "Races";
    ViewBag.BodyClass = "fullpage";
    Layout = "~/Views/Layouts/_Layout.cshtml";
}
<h2>Races</h2>

@Html.Partial("~/Views/Shared/_OnePageOfRaces.cshtml", Model);