
@model RaceAnalysis.Models.TriStatsViewModel
@{
    ViewBag.Title = "TriStats";
    Layout = "~/Views/Layouts/_AnalysisLayout.cshtml";
}
<!-- import the included stylesheet for some (very basic) default styling -->
<link href="/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Athletes List";
      
}
<h2>List</h2>
<p>
</p>


@section filter{
 

}
@section results{
    @if (Model.Triathletes != null)
    {
        @Html.Partial("~/Views/Shared/_PagedList.cshtml", Model);
    }
}