@model RaceAnalysis.Models.RaceConditionsViewModel

@{
    ViewBag.Title = "Add Race Conditions";
    ViewBag.BodyClass = "fullpage";
}



<div class="form-horizontal">
    <h4>Race Conditions for @Model.Race.DisplayName</h4>
    <hr />

    <div>
        @Html.ActionLink("Back to List", "conditions", "races", new { @id = Model.Race.RaceId }, null)
    </div>
    <hr />


    <div id="select-tags">

        @Html.Partial("_Splits", Model)
    </div>

     

</div>
<hr />
<div>
    @Html.ActionLink("Back to List", "conditions", "races", new { @id = Model.Race.RaceId }, null)
</div>


@section Scripts {
    <script>
    
        
            $(document).on ('click',':button',function () {
                    $(this).button('toggle');
                });
           
            $(document).on('submit', 'form', function () {
                if ($(this).valid()) {

                    /***
                    var activeId = '';
                    $(':button.active').each(function () {
                            activeId = $(this).attr('id');
                    });

                    debugger;
                    ***/

                    var values = $(':button.active').map(function () {
                        return $(this).attr('id');
                    }).get();


                    var tags = '&tagIds=' + values;
                    var data = $(this).serialize() + tags;


                    $.ajax({
                        cache:false,
                        url: this.action,
                        type: this.method,
                        data: data,
                        success: function (result) {
                            $('#select-tags').html(result);
                        }
                    });
                }
                return false;
            });
       

      $(document).ready(function () {

            $('select').select2({

                width: '95%',
                tags: true,
                tokenSeparators: [','],
                placeholder: "Add your tags here"
            });
      });
    </script>
}


