@model RaceAnalysis.Models.RaceViewModel

@{
    ViewBag.Title = "Edit Race Conditions";
}


<div class="form-horizontal">
    <h4>Race Conditions</h4>
    <hr />

    @using (Html.BeginForm("Edit", "RaceConditions", FormMethod.Post, new { @id = "myForm" }))
    {
        @Html.AntiForgeryToken()

        <label for="conditionSelectId" class="control-label">Swim Layout</label>

        @Html.ListBoxFor(m => m.SelectedSwimLayout,
                     new SelectList(Model.Tags, "TagId", "Value"),
                     new { @id = "conditionSelectId", name = "SwimLayout", multiple = "multiple" })

        @Html.Hidden("raceId",@Model.Race.RaceId)

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>


    }
</div>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    <script>
        $(document).ready(function () {

            $('#conditionSelectId').select2({
                placeholder: "Select Races...",
                width: '95%',
                tags: true,
                tokenSeparators: [','],
                placeholder: "Add your tags here"
            });

        });

    </script>

}
