@model RaceAnalysis.Models.HomePageViewModel


<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<div>
    <div class="homepage-table-container">
        <div class="charts-title"><span>Fastest Bike Finishes</span></div>
        <div id='fastest-bike-div' class="homepage-table"></div>
        <div class="clearFloat"></div>
    </div>


    <script type="text/javascript">

        google.charts.load('current', { 'packages': ['table'] });


        google.charts.setOnLoadCallback(drawMostRecent);



        function drawMostRecent() {
            var data = new google.visualization.DataTable(
                                             @Html.Raw(Json.Encode(Model.DataTableFastestIMBike)));

            var options = {
                width: '100%',
                height: '300px'
            }
            var table = new google.visualization.Table(document.getElementById('fastest-bike-div'));
            table.draw(data,options);
        }
    </script>
</div>


