@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Race Analysis</h1>
    <p class="lead">Welcome info here.....</p>
    <p><a href="http://cnn.com" class="btn btn-primary btn-lg">Mroe info... &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>XXXXXX</h2>
        <p>
            xxxx
        </p>
        <p><a class="btn btn-default" href="http://cnn.com">More info... &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>xxxx</h2>
        <p>xxx</p>
        <p><a class="btn btn-default" href=""http://cnn.com"">More info.. &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>xxxx</h2>
        <p>xxxx</p>
        <p><a class="btn btn-default" href="http://cnn.com">Mroe info.. &raquo;</a></p>
    </div>
</div>