@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>Triathlon Race Analysis</h2>
    <p class="lead">An interactive tool for analyzing triathlon races</p>
    <p class="normal">Thanks for checking this application out. It is currently in a Beta stage.
        The basic functionality is working, but we have many features in the pipeline. 
        Not many races are loaded, but if you have a particular race you are interested in, 
        shoot us a message and we can get it loaded quickly. 
    </p>
    <p class="normal">Currently we're focused on loading Ironman branded races.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Interactive Tool</h2>
        <p>
            View detailed race stats, compare races, compare age groups 
        </p>
        <p><a class="btn btn-default" href="~/TristatsSummary">Get Started... &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Find a Race</h2>
        <p>Search for a race with your critera</p>
        <p><a class="btn btn-default" href="http://cnn.com">More info.. &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>xxxx</h2>
        <p>xxxx</p>
        <p><a class="btn btn-default" href="http://cnn.com">More info.. &raquo;</a></p>
    </div>
</div>