@{
    ViewBag.Title = "Home Page";
}

<div class= "home-header" >
    <h2>TriStats</h2>
    <p class="lead">If came here looking for Tri <em>Tats</em>, you've come to the wrong place.
     But we may be able to help you earn one. </p>
    <p class="normal">Thanks for checking this application out. It is currently in a Beta stage.
        The basic functionality is working, but we have many features in the pipeline. 
        Not many races are loaded, but if you have a particular race you are interested in, 
        shoot us a message and we can get it loaded quickly. 
    </p>
    <p class="normal">Currently we're focused on loading Ironman branded races.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Interactive Tool</h2>
        <p>
            Allows you to select criteria and do do your own analysis.
            View detailed race stats, compare races, compare age groups, etc.. 
        </p>
        <p><a class="btn btn-default" href="~/TristatsSummary">Get Started... &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Find a Race</h2>
        <p>Search for races with your critera</p>
        <p><a class="btn btn-default" href="http://cnn.com">Let's begin... &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>How would I do?</h2>
        <p>Hypothetical scenarios for you to evaluate your performance against your peers.</p>
        <p><a class="btn btn-default" href="~/Hypotheticals">Try it... &raquo;</a></p>
    </div>
</div>