@{
    ViewBag.Title = "Home Page";
}

<div class= "home-header" >
    <h2>Research. Analyze. Geek Out.</h2>
    <p class="lead"></p>
    <p class="lead">If came here looking for Tri <em>Tats</em>, we can't design one for you, 
     but we may be able to help you earn your next one. </p>
    <div class="home-about">
      
    </div>
</div>

<div class="row">
 
    <div class="col-md-12">
            <div class="feature-callout">
                <h2>Give me the tools</h2>
                <p>
                    A flexible DIY tool to facilitate deep analysis of triathlon races.
                </p>
                <p>
                    <i>AKA a [tool] that allows you to <i>Geek Out</i> on tri stats.</i>
                </p>
                <p><a class="btn btn-default" href="~/analyze">Geek out... &raquo;</a></p>
            </div>
    </div>
    <div class="col-md-12">
        <div class="feature-callout">
            <h2>How would I do?</h2>
            <p>Hypothetical scenarios for you to evaluate your performance against your peers.</p>
            <p><i>A guided approach to bring out the geek in <b>you</b>.</i></p>

            <p><a class="btn btn-default" href="~/Hypotheticals">Try it... &raquo;</a></p>
        </div>
    </div>
    <div class="col-md-12">
        <div class="feature-callout">
            <h2>Help me find a race</h2>
            <p>Search for races with your critera</p>
            <p><i>So many races, so little time. And money.</i></p>
            <p><a class="btn btn-default" href="http://tbd.com">Let's begin... &raquo;</a></p>
        </div>
    </div>
    
    <div class="col-md-12">
        <div class="feature-callout">
            <h2>Just tell me</h2>
            <p>Curated analysis of select races.</p>
            <p><i>For the novice geek.</i></p>

            <p><a class="btn btn-default" href="~/Hypotheticals">Try it... &raquo;</a></p>
        </div>
    </div>
    <div class="col-md-12">
        <div class="feature-callout">
            <h2>Where do we go from here?</h2>
            <p>A list of planned features.</p>
            <p><i>We can only hope</i></p>

            <p><a class="btn btn-default" href="~/Hypotheticals">Try it... &raquo;</a></p>
        </div>
     </div>
</div>