@model RaceAnalysis.Models.TriathletesViewModel

@{ 
    var count = Model.Triathletes.Count();

    int height;
    if (count > 1)
    {
        height = count * 100;
    }
    else
    {
        height = 200;
    }
}
<div>
    <div id='athletes-compare-div'></div>
    <script type="text/javascript">

        google.charts.load('current', { 'packages': ['corechart'] });

        google.charts.setOnLoadCallback(function () {

            var data = new google.visualization.DataTable(
                                @Html.Raw(Json.Encode(Model.ComparisonChart)))
            
              var options = {
                //width: 600,
                height: @Html.Raw(height),
                legend: { position: 'right'},
                bar: { groupWidth: '50%' },
                isStacked: true,

              };
            
              var chart = new google.visualization.BarChart(document.getElementById('athletes-compare-div'));
            chart.draw(data, options);
        });


    </script>
</div>
