
@model RaceAnalysis.Models.TriathletesViewModel



<div>
<div class="charts-title"><span>@Model.SelectedAthleteName</span></div>
<div><span><i>Click on the column headers to change sort.</i></span></div>
<div id='athlete-search-table-div'></div>
</div>

<script type="text/javascript">
       google.charts.load('current', { 'packages': ['corechart', 'bar', 'table'] });

        google.charts.setOnLoadCallback(function () {
            drawTable();
        });
      
        function drawTable()
        {
            var data = new google.visualization.DataTable(
                @Html.Raw(Json.Encode(Model.AthletesTable))
            );

            var table = new google.visualization.Table(document.getElementById('athlete-search-table-div'));
            table.draw(data, { width: '100%', height: '100%' });

        };
  
         
</script>
