@model RaceAnalysis.Models.TriathletesCompareViewModel

@{
    Layout = "~/Views/Layouts/_AnalysisLayout.cshtml";
    ViewBag.Title = "Athletes Comparison";
    PageData["Instructions"] = "";
    ViewBag.Action = "action-compare-athletes";
}

@section page_actions{
    @if (Model.Triathletes.Any())
    {
        <script type="text/javascript">  $("#page-actions").show(); </script>
        @Html.Partial("~/Views/Shared/_ActionBar.cshtml", Model)
    }<!--actions-->
}<!--section-->

@section results{
    @if (Model.Triathletes.Any())
    {
       <h3>@Model.Triathletes.Count()   Finishers</h3>
       @Html.Partial("~/Views/Shared/_CompareAthletesChart.cshtml", Model);
       @Html.Partial("~/Views/Shared/_CompareAthletesDetail.cshtml", Model);


       <script type="text/javascript">  $("#results").show(); </script>

    }
 }