<?xml version="1.0" encoding="utf-8" ?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <connectionStrings>
    <add name="RaceAnalysis" connectionString="Data Source=SCOT-PC;Integrated Security=True;Connect Timeout=15;Encrypt=False;TrustServerCertificate=True;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" providerName="System.Data.SqlClient" />

    <add name="AzureWebJobsStorage" connectionString="UseDevelopmentStorage=true"
           xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="AzureWebJobsDashboard-" connectionString="UseDevelopmentStorage=true"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>

  </connectionStrings>
       
</configuration>