
@model RaceAnalysis.Models.HistogramViewModel

   
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<div>
    <div id='MyUniqueId' style="width: 100%; height: 500px;"></div>
    <script type="text/javascript">

            google.charts.load('current', { 'packages': ['corechart'] });

            google.charts.setOnLoadCallback(function () {
                var title = 'Count: ' + '@Model.Triathletes.Count()' + ',  Median Finish Time: ' + '@Model.FinishMedian';

                var data = google.visualization.arrayToDataTable(
                           @Html.Raw(Json.Encode(Model.ChartData))
                       );
                
                drawHistogramChart('MyUniqueId', title, data);
            });


        function drawHistogramChart(elementId, title, dataTable) {
            var options = {
                title: title,
                legend: {position: 'none'},
                
                hAxis: {
                    title: "Duration in Hrs",
                    ticks: [8, 9, 10, 11, 12, 13, 14, 15, 16, 17]
                  
                    },
                
                bar: { gap: 1 },

                

                vAxis: { title: '# of Athletes' },
                colors: ['#4285F4'],
               

            }
                      
            var chart = new google.visualization.Histogram(document.getElementById(elementId));
            chart.draw(dataTable, options);

        };

    </script>
</div>


