@using MvcCheckBoxList.Model

@model RaceAnalysis.Models.RaceFilterViewModel




@{
    var controllerName = HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString();
}

<!--this is how I had to do it to work with Chrome.-->
<script>
  function DisplayProgressMessage(ctl, msg) {
      $(ctl).text(msg);
      return true;
  }

    $("form").submit(function (event) {
        $('#submitButton').prop("disabled", "disabled");
    })
</script>
<link href="~/Content/css/select2.css" type="text/css" rel="stylesheet" />
<!-- <script src="~/Scripts/jquery-3.1.1.js"></script> -->
<script src="~/Scripts/select2.js"></script> 


<script type="text/javascript">

    $("#raceSelectId").select2({
        placeholder: "Select Races..",
        maximumSelectionLength: 2
    });
    $("#agSelectId").select2({
        placeholder: "Select Age Groups...",
       
    });
    $("#genderSelectId").select2({
        placeholder: "Select Genders..",
    });

</script>


@using (Html.BeginForm("SelectedRaces", controllerName))
{
    <h4>Races</h4>
    @Html.ListBoxFor(m => m.SelectedRaceIds,
                new SelectList(Model.AvailableRaces, "RaceId", "DisplayName"),
                new { @id = "raceSelectId", multiple = "multiple", @style = "width: 300px;" });

    <h4>Age Groups</h4>
    @Html.ListBoxFor(m => m.SelectedAgeGroupIds,
                new SelectList(Model.AvailableAgeGroups, "AgeGroupId", "DisplayName"),
                new { @id = "agSelectId", multiple = "multiple", @style = "width: 300px;" });

    <h4>Genders</h4>
    @Html.ListBoxFor(m => m.SelectedGenderIds,
                new SelectList(Model.AvailableGenders, "GenderId", "DisplayName"),
                new { @id = "genderSelectId", multiple = "multiple", @style = "width: 300px;" });


   <button type="submit" id="submitButton" class="btn btn-primary" style="float:right" 
                  onclick="return DisplayProgressMessage(this, 'One Moment...')">
            Apply</button>
}



