@model RaceAnalysis.Models.BaseViewModel

@{ 
    string title = Model.RaceStats.Race.LongDisplayName + ", All Athletes Median Finish Time: " + Model.RaceStats.Finish.Median.ToString();
}
<div>
    <div id='race-median-div'></div>
    <script type="text/javascript">

        google.charts.load('current', { 'packages': ['corechart'] });

        google.charts.setOnLoadCallback(function () {

            var data = new google.visualization.DataTable(
                                @Html.Raw(Json.Encode(Model.RaceMedianChart)))

            var options = {
                title: @Html.Raw(Json.Encode(title)),
                legend: { position: 'right'},
                bar: { groupWidth: '50%' },
                isStacked: true,

              };

        var chart = new google.visualization.BarChart(document.getElementById('race-median-div'));
        chart.draw(data, options);
        });


    </script>
</div>

