
@model RaceAnalysis.Models.TriStatsViewModel

<div>
    <h3>@Model.Triathletes.Count()   Athletes</h3><span>(Includes DNF and DNS)</span>
    <div id='race-compare-median-div'></div>
    <div id='race-compare-fastest-div'></div>
    <script type="text/javascript">
        google.charts.load('current', { 'packages': ['corechart', 'bar'] });

        google.charts.setOnLoadCallback(function () {
            drawMedianChart();
        });
        google.charts.setOnLoadCallback(function () {
            drawFastestChart();
        });

        function drawMedianChart()
        {
            var title = 'Median result times';
                var vAxis = "Duration (HRS)";
                var hAxis = "By Activity"

                var dataTable = new google.visualization.DataTable(
                    @Html.Raw(Json.Encode(Model.RaceComparisonChartDataMedian))
                );

                drawColumnChart('race-compare-median-div' , title, hAxis,vAxis, dataTable);
        };

        function drawFastestChart()
        {
            var title = 'Fastest result times';
            var vAxis = "Duration (HRS)";
            var hAxis = "By Activity"

            var dataTable = new google.visualization.DataTable(
                @Html.Raw(Json.Encode(Model.RaceComparisonChartDataFastest))
            );

            drawColumnChart('race-compare-fastest-div' , title, hAxis,vAxis, dataTable);
        };

    </script>


</div>



