@using (Html.BeginForm("SearchByRaceCondition", "Search"))
{
    <div class="form-group">
        @Html.AntiForgeryToken()


        <span>Search by Race Condition:</span>  @Html.TextBox("SearchString")



        <input type="submit" value="Search" class="btn btn-default" />

    </div>
}
