@model RaceAnalysis.Models.TriathletesViewModel


@{
    var controllerName = HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString();
}



@using (Html.BeginForm("SearchByAthleteName", controllerName))
{
    <div class="form-group">
        @Html.AntiForgeryToken()


        <span>Search by Name:</span>  @Html.TextBox("SearchString")
       
        
        <input type="submit" value="Search" class="btn btn-default" />

    </div>
}
