@model RaceAnalysis.Models.TriathletesViewModel


    <h3>@Model.TotalCount   Athletes</h3>

@Html.Partial("~/Views/Shared/_OnePageOfAthletes.cshtml", Model);

    

    <script type="text/javascript">
      
        function getSelectedIds() {
            var selectedIds = "";
            $('input[type=checkbox]').each(function (index, element) {
                if (this.checked) {
                    selectedIds += this.id + ",";
                }
            });
            if (selectedIds.endsWith(","))
                selectedIds = selectedIds.slice(0, -1);
            this.href = "BLAH";
            this.href += "&selectedAthletes=" + selectedIds;
        }
        function DisplayProgressMessage(ctl, msg) {
            $(ctl).text(msg);
            return true;
        }

        $("form").submit(function (event) {
            $('#submitButton').prop("disabled", "disabled");
        })
    </script>






