@model RaceAnalysis.Models.RaceFilterViewModel
@using RaceAnalysis.Models

@{
    var controllerName = HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString();
}

@using (Html.BeginForm("ApplyRaceFilter", controllerName, FormMethod.Post, new { @id = "myForm" }))

{
    <div class="form-group">
        <label for="raceSelectId" class="control-label">Races</label>
        @Html.ListBoxFor(m => m.SelectedRaceIds,
                new SelectList(Model.AvailableRaces, "RaceId", "DisplayName"),
                new { @id = "raceSelectId", multiple = "multiple" })
    </div>

    <div class="form-group">
        <label for="agSelectId">Age Groups</label>
        @Html.ListBoxFor(m => m.SelectedAgeGroupIds,
                new SelectList(Model.AvailableAgeGroups, "AgeGroupId", "DisplayName"),
                new { @id = "agSelectId", multiple = "multiple" })
    </div>

    <div class="form-group">
        <label for="genderSelectId">Genders</label>
        @Html.ListBoxFor(m => m.SelectedGenderIds,
                new SelectList(Model.AvailableGenders, "GenderId", "DisplayName"),
                new { @id = "genderSelectId", multiple = "multiple", })
    </div>

    @Html.Partial("~/Views/Shared/_FilterByDuration.cshtml",Model);

    <div class="btn-container">
        <button type="submit" id="submitButton" class="btn btn-primary">Apply</button>
    </div>

}

<script type="text/javascript">

    $(document).ready(function () {

        var $race_select = $("#raceSelectId").select2({
            placeholder: "Select Races..",
            width: '95%',
            theme: "bootstrap"
        });
        var $ag_select = $("#agSelectId").select2({
            placeholder: "Select Age Groups...",
            width: '95%',
            theme: "bootstrap"
        });
        var $gen_select = $("#genderSelectId").select2({
            placeholder: "Select Genders..",
            width: '95%',
            theme: "bootstrap"
        });

        $('#myForm').validate({
            ignore: 'input[type=hidden], .select2-input, .select2-focusser',
            errorElement: "div",
            errorPlacement: function (error, element) {
                element.after(error);
            }
        });
        /*
    * When you change the value the select via select2, it triggers
    * a 'change' event, but the jquery validation plugin
    * only re-validates on 'blur'
    */
        $race_select.on('change', function () {
            $(this).trigger('blur');
        });
        $ag_select.on('change', function () {
            $(this).trigger('blur');
        });
        $gen_select.on('change', function () {
            $(this).trigger('blur');
        });

        $race_select.rules('add', 'required');
        $ag_select.rules('add', 'required');
        $gen_select.rules('add', 'required');

    }());


    //in order for this to work with Chrome, disable the submit button on the form submit.-->
    $("#myForm").submit(function (event) {

        if ($("#myForm").valid() == true) //only disable th button if the form is valid otherwise the user cant submit again
        {
            $('#submitButton').text("One Moment...");
            $('#submitButton').prop("disabled", "disabled");
        }
        else {
            $('#submitButton').text("Apply");
        }

    })
</script>



