@model RaceAnalysis.Models.HistogramViewModel
@{
    ViewBag.Title = "Histogram";
    Layout = "~/Views/Layouts/_AnalysisLayout.cshtml";
}

<h2>Median Finish Times</h2>

@section filter{}

@section results{
    @if (Model.Triathletes.Any())
    {
        @Html.Partial("~/Views/Shared/_HistogramChart.cshtml", Model)
        
    }
}




