@model RaceAnalysis.Models.HistogramViewModel
@{
    ViewBag.Title = "TriStatsRaceComparer";
    Layout = "~/Views/Layouts/_AnalysisLayout.cshtml";
}

<h2>Histogram - Median Finish Times</h2>

@section filter{}





