@model RaceAnalysis.Models.HistogramViewModel
@{
    ViewBag.Title = "TriStatsRaceComparer";
    Layout = "~/Views/Shared/_AnalysisLayout.cshtml";
}

<h2>Histogram</h2>

@section filter{<div id="myemptydiv"></div>}



@Html.ActionLink("Select Races", "ShowFilterByRace", null,
                                           new
                                           {
                                               races = @String.Join(",", Model.Filter.SelectedRaces.Select(x => x.RaceId.ToString()).ToArray()),
                                               agegroups = @String.Join(",", Model.Filter.SelectedAgeGroups.Select(x => x.AgeGroupId.ToString()).ToArray()),
                                               genders = @String.Join(",", Model.Filter.SelectedGenders.Select(x => x.GenderId.ToString()).ToArray())
                                           },


                                           new { @class = "modal-link btn btn-success", title = "Select Races" })





