body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color:whitesmoke;
}

/* Set padding to keep content from hitting the edges */
.body-content {
 // padding-left: 15px;
  //  padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
.container .content {
    display: none;
    padding : 5px;
}

#results {
  
}

.body-content{
     
   // background-color:aqua;
   // float: right;
    
}
.slider-step{
  //  background-color:red;
    width: 70%;
  display:block;
  margin-left:auto;
  margin-right:auto;
}
.ui-slider-horizontal {
	width:80%; /*scott override*/
    
}
.ui-slider .ui-slider-range {
    width:70%;
    //background-color:yellow;
}
.ui-slider-range .ui-corner-all .ui-widget-header{
background-color:black;

}

.help-tip{
	position: absolute;
	top: 18px;
	right: 118px;
    --left:0px;
	text-align: center;
	background-color: #BCDBEA;
	border-radius: 50%;
	width: 24px;
	height: 24px;
	font-size: 14px;
	line-height: 26px;
	cursor: default;
}

.help-tip:before{
	content:'?';
	font-weight: bold;
	color:#fff;
}

.help-tip:hover p{
	display:block;
	transform-origin: 100% 0%;

	-webkit-animation: fadeIn 0.3s ease-in-out;
	animation: fadeIn 0.3s ease-in-out;

}

.help-tip p{	/* The tooltip */
	display: none;
	text-align: left;
	background-color: #FFF;
	padding: 20px;
	width: 300px;
	position: absolute;
	border-radius: 3px;
	box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
	right: -4px;
	color:   #1E2021;
	font-size: 13px;
	line-height: 1.4;
}

.help-tip p:before{ /* The pointer of the tooltip */
	position: absolute;
	content: '';
	width:0;
	height: 0;
	border:6px solid transparent;
	border-bottom-color:#1E2021;
	right:10px;
	top:-12px;
}

.help-tip p:after{ /* Prevents the tooltip from being hidden */
	width:100%;
	height:40px;
	content:'';
	position: absolute;
	top:-40px;
	left:0;
}

/* CSS animation */

@-webkit-keyframes fadeIn {
	0% { 
		opacity:0; 
		transform: scale(0.6);
	}

	100% {
		opacity:100%;
		transform: scale(1);
	}
}

@keyframes fadeIn {
	0% { opacity:0; }
	100% { opacity:100%; }
}

/*overrides for nav bar so that it will collapse earlier*/

@media (max-width: 991px) {
  .navbar-header {
      float: none;
  }
  .navbar-left,.navbar-right {
      float: none !important;
  }
  .navbar-toggle {
      display: block;
  }
  .navbar-collapse {
      border-top: 1px solid transparent;
      box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .navbar-fixed-top {
      top: 0;
      border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
      display: none!important;
  }
  .navbar-nav {
      float: none!important;
      margin-top: 7.5px;
  }
  .navbar-nav>li {
      float: none;
  }
  .navbar-nav>li>a {
      padding-top: 10px;
      padding-bottom: 10px;
  }
  .collapse.in{
      display:block !important;
  }
}

label.error  
{
    color:red;
    
   
}

div.error {
    color:red;
    padding:1px 5px 1px 5px;
    font-size:small;
    width:200px;

}

#filter, #results, #page-header,#page-actions,#filter-duration{
    margin:10px;
    padding:5px;
    background-color:white;
    border-width:1px;
    border-style:solid;
    border-color: rgba(0, 0, 0, 0.2);
    border-radius:5px;
    
}

#results,#page-actions
{
    display:none;
}

div#results-header
{
 // background-color:yellow;
  text-align:right;
    
}
div#results-header h3{
    max-width:400px;
    text-align:left;
    //background-color:blue;
}
div#results-header .btn{
      // background-color:aqua;
      margin-right:50px;
      
}
div#athlete-list{
    //background-color:chartreuse;
    
}



#filter-duration .time-range
{
    --background-color:yellow;
    border-width:1px;
    border-style:groove;
    border-radius:5px;
    padding:5px;
}

#filter label
{
    font-size:small;
    margin:5px;
}


#myForm div.btn-container{
    //width:300px;
    padding:5px;
    //background-color:yellow;
    text-align:center;
   margin:auto;
   
}
#myForm button#submitButton.btn.btn-primary
{ /*the apply button*/
}

.jumbotron p.normal{
    font-size:14px;
}


/**** Bike and Run Scatter Chart*******/
.chartWithMarkerOverlay {
    position: relative;
    width: 100%;
    
}
div#chart-div, div#bike-run-piechart,div#dnf-race-piechart, div#race-compare-median-div, div#race-compare-fastest-div{
    width:100%;
    height: 500px;
    
}
div#chart-key{
     margin:10px;
    padding:5px;
    background-color:white;
    border-width:1px;
    border-style:solid;
    border-color: rgba(0, 0, 0, 0.2);
    border-radius:5px;

}


.overlay-marker-bike {
    background: red;
    width: 1px;
    position:absolute;
    height: 1px;
    border-style:dotted;
    border-width:1px;
}
.overlay-marker-run {
    background: red;
    width: 1px;
    position:absolute;
    height: 1px;
    border-style:dotted;
    border-width:1px;
}

.overlay-text-Q1 {
    background-color:yellow;
    width: 20px;
    height: 20px;
    position: absolute;
     top: -100px;   /* chartArea top  */
    left: -1000px; /* chartArea left */
    text-align:center;
}
.overlay-text-Q2 {
    background-color:yellow;
    width: 20px;
    height: 20px;
    position: absolute;
    top: -100px;   /* chartArea top  */
    left: -1000px; /* chartArea left */
    text-align:center;
}
.overlay-text-Q3 {
    background-color:yellow;
    width: 20px;
    height: 20px;
    position: absolute;
     top: -100px;   /* chartArea top  */
    left: -1000px; /* chartArea left */
    text-align:center;
}
.overlay-text-Q4 {
    background-color:yellow;
    width: 20px;
    height: 20px;
    position: absolute;
    top: -100px;   /* chartArea top  */
    left: -1000px; /* chartArea left */
    text-align:center;
   
}
.overlay-text-run-median {
   
    width: 100px;
    height: 20px;
    position: absolute;
    top: -100px;   /* chartArea top  */
    left: -1000px; /* chartArea left */
    text-align:center;
    font-style:italic;
}
.overlay-text-bike-median {
    width: 100px;
    height: 20px;
    position: absolute;
    top: -100px;   /* chartArea top  */
    left: -1000px; /* chartArea left */
    text-align:center;
    font-style:italic;
   
}

.hypothetical{
    width:50%;
    margin-top:10px;
    padding:5px;
    background-color:white;
    border-width:1px;
    border-style:solid;
    border-color: rgba(0, 0, 0, 0.2);
    border-radius:5px;
    
}
div#box_estfinish{
    position: relative;
    width: 100%;
    height:250px;
 
}

div#overlay-marker-estfinish {
    background-color:azure;
    width: 200px;
    height: 24px;
    position: absolute;
     top: 75px;   /* chartArea top  */
    left: 0px; /* chartArea left */
    text-align:center;
    border: 2px;
    font-weight:bold;
}
div#finish_range{
    font-style: italic;
     font-weight:bold;
    font-size: 14px;
    background-color:azure;
    padding:10px;
}