

body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color:whitesmoke;
      
}
body.analysis{
    background-image:none;
    background-color:whitesmoke;
     background-image: url(../Content/images/imagelayer.png);
    background-repeat:no-repeat;
    background-size:cover;
}
body.fullpage{
    background-image:none;
    background-color:whitesmoke;
    background-image: url(../Content/images/imagelayeryellow.png);
    background-repeat:no-repeat;
    background-size:cover;
}
body.homepage{
    background-image: url(../Content/images/shutterstock2.jpg);
    background-size:cover;
    background-repeat:no-repeat;
    
}


/* Set padding to keep content from hitting the edges */
.body-content {
 // padding-left: 15px;
  //  padding-right: 15px;
}


/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
/***.container.content {
    display: none;
    padding : 5px;
}****/

div.container.body-content{
    //background-color:yellow;
    margin-top:30px;
 
}
div.container-analysis {
        margin-top: 30px;
        //background-color: white;
        //background-color:rgba(255,225,251,.8);
}
/***** home page*****/
.home-header {
    width: 100%;
 
    background-position: 50% 30%;
    background-size: cover;
    position: relative;
    overflow: hidden;
    
}
.home-header h2{
    margin-top:10px;
    color:darkblue;
    font-style:italic;
}

.home-about{
        color:black;
}

.feature-callout{
  
    width:50%;
    margin: 0 auto; /*center inside the outter div*/ 
    margin-left:10px;
    margin-top:10px;
    padding:5px;
    border-width:1px;
    border-style:groove;
    border-color: rgba(0, 0, 0, 0.2);
    border-color: whitesmoke;
    border-radius:5px;
    text-align:center;
    background-color:azure;
    opacity: .8;
    color:darkblue;
    font-weight:bold;
  
}


#results {
  
}

div.comingsoon_banner{
    margin:10px;
    font-size:24px;
    color:red;
}
div.commingsoon_item{
    margin:10px;
    height:24px;
    color:black;
    font-weight:bold;
    
   
}


.slider-step{
  //  background-color:red;
    width: 70%;
  display:block;
  margin-left:auto;
  margin-right:auto;
}
.ui-slider-horizontal {
	width:80%; /*scott override*/
    
}
.ui-slider .ui-slider-range {
    width:70%;
    //background-color:yellow;
}
.ui-slider-range .ui-corner-all .ui-widget-header{
background-color:black;

}

.help-tip{
	position: absolute;
	top: 18px;
	right: 118px;
    --left:0px;
	text-align: center;
	background-color: #BCDBEA;
	border-radius: 50%;
	width: 24px;
	height: 24px;
	font-size: 14px;
	line-height: 26px;
	cursor: default;
}

.help-tip:before{
	content:'?';
	font-weight: bold;
	color:#fff;
}

.help-tip:hover p{
	display:block;
	transform-origin: 100% 0%;

	-webkit-animation: fadeIn 0.3s ease-in-out;
	animation: fadeIn 0.3s ease-in-out;

}

.help-tip p{	/* The tooltip */
	display: none;
	text-align: left;
	background-color: #FFF;
	padding: 20px;
	width: 300px;
	position: absolute;
	border-radius: 3px;
	box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
	right: -4px;
	color:   #1E2021;
	font-size: 13px;
	line-height: 1.4;
}

.help-tip p:before{ /* The pointer of the tooltip */
	position: absolute;
	content: '';
	width:0;
	height: 0;
	border:6px solid transparent;
	border-bottom-color:#1E2021;
	right:10px;
	top:-12px;
}

.help-tip p:after{ /* Prevents the tooltip from being hidden */
	width:100%;
	height:40px;
	content:'';
	position: absolute;
	top:-40px;
	left:0;
}

/* CSS animation */

@-webkit-keyframes fadeIn {
	0% { 
		opacity:0; 
		transform: scale(0.6);
	}

	100% {
		opacity:100%;
		transform: scale(1);
	}
}

@keyframes fadeIn {
	0% { opacity:0; }
	100% { opacity:100%; }
}


label.error  
{
    color:red;
    
   
}

div.error {
    color:red;
    padding:1px 5px 1px 5px;
    font-size:small;
    width:200px;

}

div.SumoSelect{
    max-width:100%;
    width:100%;
}
.SumoSelect .select-all{
 height:inherit;
}

#filter, #results, #page-header,#page-actions,#filter-duration, div.criteria,div.hypothetical,div.email-form{
    margin:10px;
    margin-left:0px;
    margin-right:0px;
    padding:5px;
    background-color:white;
    border-width:1px;
    border-style:solid;
    border-color: rgba(0, 0, 0, 0.2);
    border-radius:5px;

     -webkit-box-shadow: 0 8px 6px -6px black;
	 -moz-box-shadow: 0 8px 6px -6px black;
	 box-shadow: 0 8px 6px -6px black;
}

#page-header
{
    text-align:center;
 
}

#results,#page-actions
{
    display:none;
}

#page-actions
{
    border-bottom:none;
    margin-bottom:0px;
    padding-bottom:0px;
}
#results{
    border-top:none;
    margin-top:0px;
}


div#results-header
{
 // background-color:yellow;
  text-align:right;
    
}
div#results-header h3{
    max-width:400px;
    text-align:left;
    //background-color:blue;
}
div#results-header .btn{
      // background-color:aqua;
      margin-right:50px;
      
}
div#athlete-list{
    //background-color:chartreuse;
    
}



#filter-duration .time-range
{
    --background-color:yellow;
    border-width:1px;
    border-style:groove;
    border-radius:5px;
    padding:5px;
}

#filter label
{
    font-size:small;
    margin:5px;
}


#myForm div.btn-container{
    //width:300px;
    padding:5px;
    //background-color:yellow;
    text-align:center;
   margin:auto;
   
}
#myForm button#submitButton.btn.btn-primary
{ /*the apply button*/
}

.jumbotron p.normal{
    font-size:14px;
}


/******************************************************************************************
     Bike and Run Scatter Chart
*******************************************************************************************/
.chartWithMarkerOverlay {
    position: relative;
    width: 100%;
    
}
div#chart-div, div#bike-run-piechart,div#dnf-race-piechart, div#race-compare-median-div, div#race-compare-fastest-div{
    width:100%;
    height: 500px;
    
}
div#chart-key{
     margin:10px;
    padding:5px;
    background-color:white;
    border-width:1px;
    border-style:solid;
    border-color: rgba(0, 0, 0, 0.2);
    border-radius:5px;

}

.overlay-marker-bike {
    background: red;
    width: 1px;
    position:absolute;
    height: 1px;
    border-style:dotted;
    border-width:1px;
}
.overlay-marker-run {
    background: red;
    width: 1px;
    position:absolute;
    height: 1px;
    border-style:dotted;
    border-width:1px;
}

.overlay-text-Q1 {
    background-color:yellow;
    width: 20px;
    height: 20px;
    position: absolute;
     top: -100px;   /* chartArea top  */
    left: -1000px; /* chartArea left */
    text-align:center;
}
.overlay-text-Q2 {
    background-color:yellow;
    width: 20px;
    height: 20px;
    position: absolute;
    top: -100px;   /* chartArea top  */
    left: -1000px; /* chartArea left */
    text-align:center;
}
.overlay-text-Q3 {
    background-color:yellow;
    width: 20px;
    height: 20px;
    position: absolute;
     top: -100px;   /* chartArea top  */
    left: -1000px; /* chartArea left */
    text-align:center;
}
.overlay-text-Q4 {
    background-color:yellow;
    width: 20px;
    height: 20px;
    position: absolute;
    top: -100px;   /* chartArea top  */
    left: -1000px; /* chartArea left */
    text-align:center;
   
}
.overlay-text-run-median {
   
    width: 100px;
    height: 20px;
    position: absolute;
    top: -100px;   /* chartArea top  */
    left: -1000px; /* chartArea left */
    text-align:center;
    font-style:italic;
}
.overlay-text-bike-median {
    width: 100px;
    height: 20px;
    position: absolute;
    top: -100px;   /* chartArea top  */
    left: -1000px; /* chartArea left */
    text-align:center;
    font-style:italic;
   
}

/*****************************************************************************
    HYPOTHETICALS
******************************************************************************/
div.criteria,div.email-form {
     width:50%;
    margin: 0 auto; /*center inside the outter div*/ 
    padding:5px;
    background-color:white;
    border-width:1px;
    border-style:solid;
    border-color: rgba(0, 0, 0, 0.2);
    border-radius:5px;
}
div.criteria span.title{
    margin-bottom:10px;
    //padding:10px;
    //background-color:yellow;
    color:darkslateblue;
    font-size:24px;
    //max-width: 100px;
    
}

div.hypothetical {
    width:50%;
    //margin-top:10px;
     margin: 20px auto; /*center inside the outter div*/ 
    padding:5px;
    background-color:white;
    border-width:1px;
    border-style:solid;
    border-color: rgba(0, 0, 0, 0.2);
    border-radius:5px;
    font-size: 18px;
    
}
div#box-estfinish,div#box-estSwim,div#box-estBike,div#box-estRun{
    position: relative;
    width: 100%;
    height:300px;/*for some reason plotly needs this height or it wont display all of the hover markers*/

}

div#overlay-marker-estfinish,div#overlay-marker-estSwim,div#overlay-marker-estBike,div#overlay-marker-estRun  {
    background-color:darkturquoise;
    border-radius:2px;
    width: 200px;
    height: 24px;
    position: absolute;
    top: 90px;   /* chartArea top  */
    left: 0px; /* chartArea left */
    text-align:center;
    border: 2px;
    font-weight:bold;
}

div#finish-range, div#Swim-range,div#Bike-range,div#Run-range,div#finish-results{
    margin-top:10px;
    //font-style: italic;
     font-weight:bold;
    font-size: 18px;
    //background-color:darkturquoise;
    //color:white;
    color:darkblue;
    padding:10px;
}

div.time-range-span
{
    color:darkblue;
   text-align:center;
   font-weight:bold;
}
div.time-range a{
  

/**************************************************************************************************
    APP FEATURES
    
***************************************************************************************************/

div#app_features{
    margin-top:20px;
}

/**************************************************************************************************
   CONTACT US
    
***************************************************************************************************/

div.email-form {
     margin-bottom:10px;
    color:darkslateblue;
    font-size:18px;
    
}


/**************************************************************************************************
 RACE LIST AND SEARCH RESULTS
    
***************************************************************************************************/
div.race-list #action-stats{
    margin:10px;
    
}

div.race-list #instructions{
  
}

