body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
 //   padding-left: 15px;
  //  padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
.container .content {
    display: none;
    padding : 5px;
}
#filter
{
   display: inline-flex;
   padding-left:5px;
   padding-right:5px;
   margin:10px;
   --background-color:yellow;
   width:100%;
   overflow:hidden;
 
}


#filter .btnRaceFilter /*having to set these speficially for the button on Triathlets/Index is too large without these specific CSS*/
{
    margin:0px;
    padding: 6px;
    padding-left:12px;
    padding-right:12px;
    height:34px;
    width: 109px;
    border-spacing:1px;
  
}
#filter  .btn-duration /*having to set this values primarily to the button on Triathlets/Index is too large without these specific CSS*/ 
{
    background-color:blue;
    color:white;
    margin-left:20px;
}

#results {
  
}

.body-content{
     
   // background-color:aqua;
   // float: right;
    
}
.slider-step{
    background-color:red;
    width: 70%;
  display:block;
  margin-left:auto;
  margin-right:auto;
}
.ui-slider-horizontal {
	width:80%; /*scott override*/
    
}
.ui-slider .ui-slider-range {
    width:70%;
    background-color:yellow;
}
.ui-slider-range .ui-corner-all .ui-widget-header{
background-color:black;

}

.help-tip{
	position: absolute;
	top: 18px;
	right: 118px;
    --left:0px;
	text-align: center;
	background-color: #BCDBEA;
	border-radius: 50%;
	width: 24px;
	height: 24px;
	font-size: 14px;
	line-height: 26px;
	cursor: default;
}

.help-tip:before{
	content:'?';
	font-weight: bold;
	color:#fff;
}

.help-tip:hover p{
	display:block;
	transform-origin: 100% 0%;

	-webkit-animation: fadeIn 0.3s ease-in-out;
	animation: fadeIn 0.3s ease-in-out;

}

.help-tip p{	/* The tooltip */
	display: none;
	text-align: left;
	background-color: #FFF;
	padding: 20px;
	width: 300px;
	position: absolute;
	border-radius: 3px;
	box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
	right: -4px;
	color:   #1E2021;
	font-size: 13px;
	line-height: 1.4;
}

.help-tip p:before{ /* The pointer of the tooltip */
	position: absolute;
	content: '';
	width:0;
	height: 0;
	border:6px solid transparent;
	border-bottom-color:#1E2021;
	right:10px;
	top:-12px;
}

.help-tip p:after{ /* Prevents the tooltip from being hidden */
	width:100%;
	height:40px;
	content:'';
	position: absolute;
	top:-40px;
	left:0;
}

/* CSS animation */

@-webkit-keyframes fadeIn {
	0% { 
		opacity:0; 
		transform: scale(0.6);
	}

	100% {
		opacity:100%;
		transform: scale(1);
	}
}

@keyframes fadeIn {
	0% { opacity:0; }
	100% { opacity:100%; }
}

/*overrides for nav bar so that it will collapse earlier*/

@media (max-width: 991px) {
  .navbar-header {
      float: none;
  }
  .navbar-left,.navbar-right {
      float: none !important;
  }
  .navbar-toggle {
      display: block;
  }
  .navbar-collapse {
      border-top: 1px solid transparent;
      box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .navbar-fixed-top {
      top: 0;
      border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
      display: none!important;
  }
  .navbar-nav {
      float: none!important;
      margin-top: 7.5px;
  }
  .navbar-nav>li {
      float: none;
  }
  .navbar-nav>li>a {
      padding-top: 10px;
      padding-bottom: 10px;
  }
  .collapse.in{
      display:block !important;
  }
}

label.error  
{
    color:red;
    
   
}

div.error {
    color:red;
    padding:1px 5px 1px 5px;
    font-size:small;
    width:200px;

}

#myForm div.btn-container{
    --width:300px;
    padding:5px;
    --background-color:yellow;
}




