
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Layouts/_Layout.cshtml";
}

<h2>Admin Quick Links</h2>
<div class="admin-links">
    @Html.ActionLink("Races", "admin", "Races")
    @Html.ActionLink("Request Contexts", "Index", "RequestContexts")
    @Html.ActionLink("Tags", "Index", "Tags")
    @Html.ActionLink("App Features", "Admin", "AppFeatures")
   




</div>
