@{
    Layout = "~/Views/Layouts/_FullPageLayout.cshtml";
}


<div class="comingsoon_banner">
    COMING SOON! 
</div>

<div class="commingsoon_item">
    Find a race based on conditions. e.g. Hilly, Flat, Windy, Fast, Hot, Cold, etc.
</div>

<div class="commingsoon_item">
    Search for an athlete across races. 
</div>