<?xml version="1.0" encoding="utf-8" ?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="RaceAnalysis.RestURL" value="http://raceanalysisapi.azurewebsites.net" 
          xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

  </appSettings>

  <connectionStrings>
    <add name="RaceAnalysis"
       connectionString="Data Source=pyk5qaw8dq.database.windows.net;Initial Catalog=RaceAnalysis;Integrated Security=False;User ID=sclem;Password=Imabopper123;Connect Timeout=60;Encrypt=True;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False"
       xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="AzureWebJobsDashboard" connectionString="DefaultEndpointsProtocol=https;AccountName=raceanalysisstorage;AccountKey=ScgTG9+rd0qJWmmf6XI9Gm5KO+6ekjbJMQhXcR+dTEknHkqBeN33PgQlf67EX1/RLj8aFVbKFBa7/6ZSmBTDBg=="
                 xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="AzureWebJobsStorage" connectionString="DefaultEndpointsProtocol=https;AccountName=raceanalysisstorage;AccountKey=ScgTG9+rd0qJWmmf6XI9Gm5KO+6ekjbJMQhXcR+dTEknHkqBeN33PgQlf67EX1/RLj8aFVbKFBa7/6ZSmBTDBg=="
                 xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>

  </connectionStrings>


</configuration>