<?xml version="1.0" encoding="utf-8" ?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">


  <connectionStrings>
  <!-- The format of the connection string is "DefaultEndpointsProtocol=https;AccountName=NAME;AccountKey=KEY" -->
  <!-- For local execution, the value can be set either in this config file or through environment variables -->
  <!-- The format of the connection string is "DefaultEndpointsProtocol=https;AccountName=NAME;AccountKey=KEY" -->
  <!-- For local execution, the value can be set either in this config file or through environment variables -->
  <add name="AzureWebJobsDashboard" connectionString="DefaultEndpointsProtocol=https;AccountName=raceanalysisstorage;AccountKey=ScgTG9+rd0qJWmmf6XI9Gm5KO+6ekjbJMQhXcR+dTEknHkqBeN33PgQlf67EX1/RLj8aFVbKFBa7/6ZSmBTDBg==" 
               xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  <add name="AzureWebJobsStorage" connectionString="DefaultEndpointsProtocol=https;AccountName=raceanalysisstorage;AccountKey=ScgTG9+rd0qJWmmf6XI9Gm5KO+6ekjbJMQhXcR+dTEknHkqBeN33PgQlf67EX1/RLj8aFVbKFBa7/6ZSmBTDBg==" 
               xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>

</connectionStrings>

</configuration>