@using MVCGrid.Web
@using RaceAnalysis.Models;

@{
    ViewBag.Title = "List";
    Layout = "~/Views/Layouts/_Layout.cshtml";
}
<script src="~/MVCGridHandler.axd/script.js"></script>


<h2>List</h2>

<div class="panel panel-default">
    <div class="panel-body">
        @Html.Partial("_MVCGridToolbar", new MVCGridToolbarModel()
{
    MVCGridName = "AgeGroupAggregateGrid",
    PageSize = true,
    ColumnVisibility = false,
    Export = false,
    GlobalSearch = true
})
        @Html.MVCGrid("AgeGroupAggregateGrid")

    </div>
</div>

<script type="text/javascript">
    $(function () {
        $('#selPageSize').change(function () {
            MVCGrid.setPageSize('AgeGroupAggregateGrid', $('#selPageSize').val());
        });
        // set value of dropdown to grid setting
        $('#selPageSize').val(MVCGrid.getPageSize('AgeGroupAggregateGrid'));

        $('#half').click(function () {
            MVCGrid.setFilters('AgeGroupAggregateGrid', { Distance: '70.3' })
            $(this).addClass("active");
            $('#full').removeClass("active");

        });
        $('#full').click(function () {
            MVCGrid.setFilters('AgeGroupAggregateGrid', { Distance: '140.6' })
            $(this).addClass("active");
            $('#half').removeClass("active");

        });
      


    });
</script>
