@model RaceAnalysis.Models.AgeGroupCompareViewModel
@{
    ViewBag.Title = "Histogram";
    Layout = "~/Views/Layouts/_AnalysisLayout.cshtml";
}

<h2>Age Group Compare</h2>

@section filter{}


@section results{
    @if (Model.Stats.Count > 0)
    {
        @Html.Partial("~/Views/Shared/_StatsAgeGroupsChart.cshtml", Model)

    }
}

