@model RaceAnalysis.Models.TriStatsViewModel
@{
    ViewBag.Title = "TriStatsAgeGroupCompare";
    Layout = "~/Views/Layouts/_AnalysisLayout.cshtml";
}

<h2>Age Group Comparison</h2>

@section filter{}






